# Dependencies
node_modules/

# Environment variables
.env

# Build / logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS files
Thumbs.db

# Editor folders
.vscode/
.idea/

# Cache
.cache/
